In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd 
import numpy as np

In [12]:
url='https://www.costco.com.tw/' 
res = requests.get(url)
res.encoding = ('utf8')
soup = BeautifulSoup(res.text,'html5lib')
#soup

In [13]:
itemclass = soup.findAll('div',{'class':'carousel-component costco-carousel-component clearfix'})#.findAll('div',{'class':'item product-item '})[0]
for i in itemclass:
    items = i.findAll('div',{'class':'item product-item '})
    for item in items:
        try:
            price = item.findAll('span',{'class':'notranslate'})[0].text
        except IndexError:
            price = '無售價'
        product = item.findAll('div',{'class':'item-name ch-name notranslate'})[0].text.strip()
 #       print([product,price])

In [14]:
"""
menu = soup.findAll('ul',{'id':'theMenu'})[0]
category = menu.findAll('li',{'class':'topmenu'})[0]
category_name = category.findAll('ul',{'id':'1-1-0'})[0].findAll('li')[0].text.strip()
class_name = category.findAll('ul',{'id':'1-1-0'})[0].findAll('li')[1].findAll('a')[1].text.strip()
class_href = category.findAll('ul',{'id':'1-1-0'})[0].findAll('li')[1].findAll('a')[1]['href']
category_name
"""

"\nmenu = soup.findAll('ul',{'id':'theMenu'})[0]\ncategory = menu.findAll('li',{'class':'topmenu'})[0]\ncategory_name = category.findAll('ul',{'id':'1-1-0'})[0].findAll('li')[0].text.strip()\nclass_name = category.findAll('ul',{'id':'1-1-0'})[0].findAll('li')[1].findAll('a')[1].text.strip()\nclass_href = category.findAll('ul',{'id':'1-1-0'})[0].findAll('li')[1].findAll('a')[1]['href']\ncategory_name\n"

In [15]:
menu = soup.findAll('ul',{'id':'theMenu'})[0]
category = menu.findAll('li',{'class':'topmenu'})[:-7]
categories = []
for i in category:
    category_name = i.findAll('label',{'class':'show-sub-menu'})[0].text.strip()
    category_href_dict={}
    for li in i.findAll('ul')[0].findAll('li')[1:]:
        a_list = li.findAll('a',{'class':'show-sub-menu hidden-xs hidden-sm'})
        for a in a_list:
            if len(str(a))>0 :
                category_href_dict[a.text.strip()]=a['href']
    categories.append((category_name,category_href_dict))

                        
#categories

In [16]:
category_hrefs = []
for item in categories:
    category_hrefs.extend(item[1].values())
#category_hrefs

In [17]:
def href2soup(href):
#    href = '/Electronics/Apple-Devices/c/107'
    url = 'https://www.costco.com.tw'+href
    res = requests.get(url)
    res.encoding = ('utf8')
    soup = BeautifulSoup(res.text,'html5lib')
    return soup

In [18]:
def get_products(soup,class_name,cate,href):
    products = soup.findAll('ul',{'class':'product-listing product-grid'})[0].findAll('li')
    productslist=[]
    for product in products:
        try:
            product_name = product.findAll('div',{'class':'product-info-wrapper'})[0].findAll('a',{'class':'js-lister-name'})[0].text.strip()
#            print(product_name)
            product_price = product.findAll('div',{'class':'product-info-wrapper'})[0].findAll('span')[0].text.strip()
            if product_price == '登入顯示售價':
                product_price = -2
            elif product_price == "":
                product_price = -1
            elif product_price[0] == '$':
                product_price = int(product_price.replace(",","")[1:])
#            print(product_price)
            
        except IndexError:
            pass
#            print(href)
        productslist.append([product_name,product_price,class_name,cate])
    return productslist

In [19]:
def get_df():
    df = pd.DataFrame()
    for cate,hrefdict in categories:
        for item in hrefdict.items():
            class_name = item[0]
            href = item[1] 
            soup = href2soup(href)
            productslist = get_products(soup,class_name,cate,href)
            df = pd.concat([df,pd.DataFrame(productslist)],ignore_index=True)
    df.columns= ['name','price','class','category']
    df.reset_index()
    
    return df

In [30]:
df = get_df()
df.head()

,name,price,class,category
0,"MacBook Pro15吋 太空灰: i7 六核心處理器256GB 儲存空間, 觸控列和 ...",-2,Apple 蘋果,影音 / 手機 / 電子周邊
1,"MacBook Pro13吋 銀色: i5 四核心處理器256GB 儲存空間, 觸控列和 T...",-2,Apple 蘋果,影音 / 手機 / 電子周邊
2,iPhone XS Max 512GB 太空灰 (MT562TA/A),-2,Apple 蘋果,影音 / 手機 / 電子周邊
3,iPhone XS Max 512GB 金 (MT582TA/A),-2,Apple 蘋果,影音 / 手機 / 電子周邊
4,iPhone XS Max 512GB 銀 (MT572TA/A),-2,Apple 蘋果,影音 / 手機 / 電子周邊

In [22]:
df.sort_values('price',ascending=False)
product_class = df.groupby(['category','class'])
product_class.mean().astype('int')#.agg({price:'sum'})
#pcs = product_class.size()
#pd.DataFrame(pcs,columns=['count'])

                                price
category       class
保健 / 美容        保健用品 / 日常護理        581
               保健食品              1154
               個人衛生用品             997
               美顏保健               804
傢俱寢飾           客廳家具              9892
               辦公家具              2645
商業配送           事務 / 文具          19602
               五金               18204
               居家生活             13043
               清潔用品 / 器材        12768
               食品 / 飲料 / 寵物用品   19976
               餐飲業用品 / 器材 / 耗材   4323
婦幼             兒童用品 / 照護          980
               尿布 / 紙尿褲          1141
               玩具 / 童書           1177
家電             廚房家電              5601
居家修繕 / 汽車      五金 / DIY          2107
               汽車百貨              5065
居家生活           寢具                1213
               廚房家電              5601
               衛浴用品               317
               餐具 / 餐廚用品         1528
影音 / 手機 / 電子周邊 Apple 蘋果            -2
               影音電視             28726
               手機                 732
               相機 / 攝影機          5882
戶外 / 庭院        園藝                 775
               戶外家具             15387
               戶外建築             19222
清潔日用 / 寵物      家用清潔               596
               寵物用品               540
               衛生紙                668
珠寶 / 手錶        手錶               35147
禮盒 / 票券 / 花卉   禮券 / 票券           4615
               禮盒                 874
               花束 / 盆栽           2438
辦公用品 / 書籍      印表機 / 配件          1560
               書籍                1507
               清潔用品 / 茶水間補給用品     749
               辦公家具              2645
               辦公用品               727
運動休閒           休閒遊戲             29416
               健身器材             10026
               冬季運動               167
               戶外運動              1244
               水上運動              4384
               露營用品              2748
電腦 / 周邊商品      iPad & 平板電腦         -2
               印表機 / 配件          1560
食品             冷凍 / 冷藏食品          979
               常備食品 / 乾貨          433
               調理 / 罐頭食品          386
               零食                 471
               飲品                 623

In [23]:
price_table = df[['name','price']]
category_table = df[['name','class','category']]
price_table.drop_duplicates()
category_table.drop_duplicates().head()

                                                name     class        category
0  MacBook Pro15吋 太空灰: i7 六核心處理器256GB 儲存空間, 觸控列和 ...  Apple 蘋果  影音 / 手機 / 電子周邊
1  MacBook Pro13吋 銀色: i5 四核心處理器256GB 儲存空間, 觸控列和 T...  Apple 蘋果  影音 / 手機 / 電子周邊
2                iPhone XS Max 512GB 太空灰 (MT562TA/A)  Apple 蘋果  影音 / 手機 / 電子周邊
3                  iPhone XS Max 512GB 金 (MT582TA/A)  Apple 蘋果  影音 / 手機 / 電子周邊
4                  iPhone XS Max 512GB 銀 (MT572TA/A)  Apple 蘋果  影音 / 手機 / 電子周邊

In [24]:
from sqlalchemy import create_engine
import pymysql
engine = create_engine('mysql+pymysql://root:1qaz!QAZ@127.0.0.1:3306/costco?charset=utf8mb4')

In [25]:
connect = pymysql.Connect(
#    host='localhost',
    host='127.0.0.1',
    port=3306,
    user='root',
    passwd='1qaz!QAZ',
    charset='utf8mb4',
    db='costco'
)
    
cursor = connect.cursor()

In [26]:
sql="""

CREATE TABLE costco.price_table (
name VARCHAR(80) NOT NULL,
price INT );

"""
#cursor = connect.cursor()
#cursor.execute(sql)
#cursor.close()

In [27]:
sql="""

CREATE TABLE costco.category_table (
name VARCHAR(80) NOT NULL,
class VARCHAR(30),
category VARCHAR(12)
);
"""

#cursor = connect.cursor()
#cursor.execute(sql)
#cursor.close()

In [28]:
n=0
for index,row in price_table.iterrows():
    
    n = "'"+row['name']+"'"
    p = str(row['price'])
    
#    print( (row['price'],row['name']))
#    print(str((row['name'],str(row['price']))))
    
    sql = """INSERT INTO costco.price_table
    VALUES ("""+n+','+p+");"
#    print(sql)
    cursor = connect.cursor()
    try:
        cursor.execute(sql)
    except :
        n = '"'+row['name']+'"'
        sql = """INSERT INTO costco.price_table
    VALUES ("""+n+','+p+");"
        cursor.execute(sql)
    connect.commit()
    cursor.close()

In [29]:
n=0
for index,row in price_table.iterrows():

    n = "'"+row['name']+"'"
    p = str(row['price'])
    
    sql = """UPDATE costco.price_table
    SET  price=%s"""%(p)+"""
    WHERE name=%s; """%(n)
#    print(sql)
    

    cursor = connect.cursor()
    try:
        cursor.execute(sql)
    except :
        n = '"'+row['name']+'"'
        sql = """INSERT INTO costco.price_table
    VALUES ("""+n+','+p+");"
        cursor.execute(sql)
    connect.commit()
    cursor.close()